html,
body {
  min-width: 1366px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #242424;
}

div,
article,
ul {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}

h2 {
  font-weight: 900;
  font-size: 50px;
}

h3 {
  font-weight: 900;
  font-size: 35px;
}

.container {
  width: 1036px;
  margin: 0 auto;
  padding: 0 165px;
}

.main-header {
  position: relative;
  margin-bottom: 37px;
  padding-top: 48px;
  background-color: #4a454b;
  color: #ffffff;
  overflow: hidden;
}

.main-header .container {
  padding-bottom: 135px;
}

.main-navigation {
  margin-bottom: 115px;
}

.main-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  margin-right: 40px;
}

.main-menu li:last-child {
  margin-right: 0;
  padding-right: 2px;
}

.main-menu .index-logo {
  margin-right: auto;
  width: 230px;
  height: 62px;
  padding-left: 5px;
}

.main-menu .active {
  padding: 0 5px 5px 5px;
}

.main-menu a {
  font-weight: 100;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu a:hover {
  color: #82b541;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 823px;
  margin: 0 auto;
  padding: 8px 70px 21px 75px;
  border: 2px solid #90d23d;
  border-radius: 20px;
}

.timer p {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.timer span {
  display: block;
  text-align: center;
  font-family: "Roboto Slab", "Times", serif;
}

.timer span[class^="result"] {
  margin-bottom: 11px;
  font-weight: 100;
  font-size: 130px;
  line-height: 130px;
}

.timer span[class^="name"] {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
}

.header-icons {
  width: 100%;
  height: 220px;
  background-color: #4a454b;
  background-image:
    url("../img/icon1.png"),
    url("../img/icon2.png"),
    url("../img/icon3.png"),
    url("../img/icon4.png"),
    url("../img/icon5.png");
  background-position:
    114px 45px,
    246px 35px,
    368px 20px,
    505px 9px,
    637px 0;
  background-repeat: no-repeat;
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: -60px;
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  transform: skewY(-5deg);
  outline: 1px dashed skyblue;
}

.main-container {
  position: relative;
}

.register {
  position: absolute;
  top: -275px;
  right: 165px;
  width: 373px;
  padding: 30px 30px 21px 28px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.65);
}

.register-title {
  margin: 0 auto 19px auto;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.register-form label {
  display: none;
}

.register-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 19px;
  padding: 17px 0 15px 13px;
  font-weight: 300;
  font-size: 19px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

.register-form input:hover,
.register-form input:focus {
  border-color: #90d23d;
  outline: none;
}

.register-form input:last-of-type {
  margin-bottom: 40px;
}

.register-form .btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 0 14px 0;
  font-weight: 700;
  font-size: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #90d23d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.register-deadline {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #6c6c6c;
}

.short-description {
  margin-right: 503px;
  margin-bottom: 140px;
  padding-left: 5px;
}

.short-description h2 {
  margin: 0;
  margin-bottom: 15px;
}

.short-description p {
  margin-bottom: 20px;
  font-weight: 300;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
}

.details-item {
  flex-basis: 304px;
  flex-shrink: 1;
  text-align: center;
}

.details-item p {
  margin: 0;
  font-weight: 300;
}

.details-item h3 {
  margin-bottom: 20px;
}

.details-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 212px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.details-item-1::before {
  background-image: url("../img/details1.png");
}

.details-item-2::before {
  background-image: url("../img/details2.png");
}

.details-item-3::before {
  background-image: url("../img/details3.png");
}

.schedule {
  margin-bottom: 160px;
  padding-left: 5px;
}

.schedule-table {
  width: 100%;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}

.schedule-table th {
  padding: 21px 0 20px 0;
  font-weight: 900;
  font-size: 30px;
  background-color: #a3cc40;
}

.schedule-table tr:nth-child(2n) {
  background-color: #373737;
}

.schedule-table tr:nth-child(2n+1) {
  background-color: #4b4d4f;
}

.schedule-time {
  width: 220px;
  text-align: center;
}

.schedule-table .schedule-stuff {
  padding-left: 80px;
  text-align: left;
}

.schedule p {
  width: 830px;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
}

.schedule-more {
  width: 33px;
  height: 33px;
  padding: 23px 51px 19px 0;
  background-image: url("../img/more-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.rewards {
  position: relative;
  margin-left: -165px;
  margin-right: -165px;
  padding: 127px 165px 183px 165px;
  text-align: right;
  color: #ffffff;
  background-color: #4b4d4f;
}

.rewards h2 {
  margin-bottom: 24px;
}

.rewards p {
  margin-left: 360px;
  margin-bottom: 20px;
  padding-right: 3px;
  font-weight: 300;
}

.rewards p:last-of-type {
  margin-bottom: 55px;
}

.rewards-btn {
  padding: 17px 23px 17px 29px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  background-color: #90d23d;
  border-radius: 15px;
}

.rewards::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  transform: skewY(-5deg);
}

.rewards::after {
  content: "";
  position: absolute;
  top: -75px;
  left: 165px;
  width: 354px;
  height: 357px;
  background-image: url("../img/elite-badge.png");
}
