html,
body {
  min-width: 1366px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #242424;
}

div,
article,
ul {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}

.container {
  width: 1036px;
  margin: 0 auto;
  padding: 0 165px;
}

.main-header {
  position: relative;
  padding-top: 48px;
  background-color: #4a454b;
  color: #ffffff;
}

.main-header .container {
  padding-bottom: 135px;
}

.main-navigation {
  margin-bottom: 115px;
}

.main-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  margin-right: 40px;
}

.main-menu li:last-child {
  margin-right: 0;
  padding-right: 2px;
}

.main-menu .index-logo {
  margin-right: auto;
  width: 230px;
  height: 62px;
  padding-left: 5px;
}

.main-menu .active {
  padding: 0 5px 5px 5px;
}

.main-menu a {
  font-weight: 100;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu a:hover {
  color: #82b541;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 823px;
  margin: 0 auto;
  padding: 8px 70px 21px 75px;
  border: 2px solid #90d23d;
  border-radius: 20px;
}

.timer p {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.timer span {
  display: block;
  text-align: center;
  font-family: "Roboto Slab", "Times", serif;
}

.timer span[class^="result"] {
  margin-bottom: 11px;
  font-weight: 100;
  font-size: 130px;
  line-height: 130px;
}

.timer span[class^="name"] {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
}

.header-icons {
  width: 100%;
  height: 220px;
  background-color: #4a454b;
  background-image:
    url("../img/icon1.png"),
    url("../img/icon2.png"),
    url("../img/icon3.png"),
    url("../img/icon4.png"),
    url("../img/icon5.png");
  background-position:
    114px 45px,
    246px 35px,
    368px 20px,
    505px 9px,
    637px 0;
  background-repeat: no-repeat;
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: -60px;
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  transform: skewY(-5deg);
  outline: 1px dashed skyblue;
}
